---
import "../components/css/global.css";
import "../styles/global.css";
import { DEVLINK_SCOPE_CLASS } from "../components/devlinkScope";
import { DevLinkProvider } from "../components/DevLinkProvider";
import { Navigation } from "../components/Navigation";
import { Footer } from "../components/Footer";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/svg+xml"
      href={`${(import.meta.env.BASE_URL || "/").replace(/\/$/, "")}/astro.svg`}
    />
    <meta name="generator" content={Astro.generator} />
    <title>Webflow Cloud Astro App</title>
  </head>
  <body class={DEVLINK_SCOPE_CLASS}>
    <DevLinkProvider client:load>
      <Navigation />
      <slot />
      <Footer />
    </DevLinkProvider>
  </body>
</html>
